.main-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: #0f172a;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.logo {
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding-left: 0;
    margin: 0;
}

.nav-list li a {
    color: #cbd5e1;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #E63946;
}

.contact-mini {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.9rem;
}

.contact-mini a {
    color: #cbd5e1;
    text-decoration: none;
}

.contact-mini a:hover {
    color: #E63946;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.burger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Активный класс для крестика */
.burger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 978px) {
    .nav {
        width: 100%;
        position: fixed;
        left: 0;
        top: -100%;
        transition: .3s;
        background: #0f172a;
        padding: 15px 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

    }

    .nav.open {
        top: 60px;

    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .burger {
        display: flex;
    }

    .contact-mini {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}